#service-navigation {

  float: right;
  > ul {
    @include list-horizontal();
    > li > a {
      @include no-link();
      @include auto-link-color();
    }
  }

  display: none;

  @include screen-large {
    display: block;
  }

}

#servicenavigation-mobile-button a {
  @extend .fa-info;
}
